.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e5e7eb;
    background: white;
   /* width: 1300px; */
  }
  
  .search {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 0.9rem;
    width: 240px;
  }
  
  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .icon {
    font-size: 1.2rem;
  }
  
  .avt {
    background: #d1d5db;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 500;
  }
  